header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(27 31 36 / 68%);
  padding: 18px 0;
  z-index: 99;
  @media screen and (max-width: 1440px) {
    padding: 14px 0;
  }
  .nav__wrapper {
    .logo {
      width: 15%;
    }
    ul {
      li {
        list-style: none;
        a {
          font-size: 24px;
          font-family: "syne";

          color: #fff;
          text-decoration: none;
          @media screen and (max-width: 1440px) {
            font-size: 20px;
          }
        }
        .nav_item {
          color: #00feff;
          position: relative;
          // width: 120px;
          background-color: transparent;

          &:hover {
            &::before {
              background: #fff;
              top: 40px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 30px;
            background: #00feff;
            height: 50%;
            width: 100%;
            transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
            filter: blur(8px);
            transition: 1s ease;
          }
        }
      }
    }
    .hamburger_menu {
      span {
        display: flex;
        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 20px;
      }
    }
  }
  .close {
    color: #fff;
    font-size: 30px;
    z-index: 4;
    position: fixed;
    right: 20px;
    top: 20px;
  }
  .mob_list {
    position: fixed;
    height: 100vh;
    padding-left: 0;
    background-color: #0d78fd;
    left: 0;
    right: 0;
    top: 0;
    li {
      list-style: none;
      a {
        font-size: 24px;
        font-family: "syne";

        color: #fff;
        text-decoration: none;
        @media screen and (max-width: 1440px) {
          font-size: 20px;
        }
      }
    }
  }
}
