.skills__wrapper{
    h2{
        width: fit-content;
        margin: 0 auto;
        display: block;
        font-size: 64px;
        color: #fff;
        font-family: "syne";
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 4rem;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #fff;
        }
       
      @media screen and (max-width: 1600px) {
        font-size: 54px;
        line-height: 62px;
        
      }
      @media screen and (max-width: 1440px) {
        font-size: 34px;
        line-height: 52px;

      }
      @media screen and (max-width: 767.5px) {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 2rem;

      }
    }
    .skill_card{
    //    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
        position: relative;
        background-color: #000;
        border-radius: 20px;
        @media screen and (max-width: 767.5px) {
          height: 150px;
          
        }
        
        &::before{
            position: absolute;
            content: "";
            inset: -3px;
            background: linear-gradient(45deg,#00ccff,#0e1538,#0e1538,#d400d4);
            box-shadow: 0 0 20px #1f4dd4;
            z-index: -1;
        border-radius: 20px;

        }
        &::after{
            position: absolute;
            content: "";
            inset: -3px;
            background: linear-gradient(45deg,#00ccff,#0e1538,#0e1538,#d400d4);
            z-index: -1;
            filter: blur(20px);
        }
       

        h3{
            color: #fff;
            text-align: center;
            font-family: "syne";
            font-weight: 700;
            font-size: 34px;
            @media screen and (max-width: 1600px) {
              font-size: 30px;
              
            }
            @media screen and (max-width: 1440px) {
              font-size: 28px;
              
            }
            @media screen and (max-width: 767.5px) {
              font-size: 24px;
              
            }
        }
    }
    .skill_card_1::before,
    .skill_card_1::after{
        background: linear-gradient(45deg,#ffeb3b,#0e1538,#0e1538,#00ff0a);

    }
    .skill_card_2::before,
    .skill_card_2::after{
      background: linear-gradient(45deg, #ff3ba2, #0e1538, #0e1538, #ff0028);

    }
}